# Docker
# Build image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
    - develop
# no PR triggers
pr: none
    
variables:
    dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile.azure'
    tag: '$(Build.BuildId)'

    # Agent VM image name
    vmImageName: 'ubuntu-latest'

stages:
    - stage: Build
      displayName: Build
      jobs:
          - job: Build
            displayName: Build
            pool:
                vmImage: $(vmImageName)
            steps:
                - task: Docker@2
                  displayName: Build docker image
                  inputs:
                      command: 'build'
                      dockerfile: $(dockerFilePath)